
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="نمایشport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title  %></title>
    <link rel="shortcut icon" href="/css/favicon.ico"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/css/vazir.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home">سامانه ثبت شکایات</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/">خروج</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      
        <main role="main" class="col-md-9 mr-sm-auto col-lg-10 pt-3 px-4">
    
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
            <h2 id="object">شکایات</h2>
            <div class="btn-group">
                    <a href="/admin/members" class="btn btn-sm btn-info">بازگشت</a>
            </div>
        </div>
 <form class="form-horizontal" action="/admin/members/m/<%= id %>" method="post">
          <% if(errors.length>0) { %>
              <div class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span>×</span>
                  </button>                            
                  <% errors.forEach(error=>{ %>
                      <%= error %> <br>
                  <% }) %>
              </div>
              <% } %>
              <% if(message.length>0) { %>
                  <div class="alert alert-success alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span>×</span>
                      </button>                            
                      <%= message %>
                  </div>
                  <% } %>
          </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>شاکی</th>
                    <th>عنوان شکایت</th>
                    <th>بخش مربوطه</th>
                </tr>
                </thead>
                <tbody>
                    <% comments.docs.forEach(comment=> { if(comment._id == id) { %>
                        <tr>
                            <td><%= comment.user.username %></td>
                            <td><%= comment.title %></td>
                            <td>
                                <%= comment.typeToPersian() %>
                            </td>
                        </tr>
                        <%  }}) %>
                </tbody>
            </table>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>متن شکایت شاکی:</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% comments.docs.forEach(comment=> { if(comment._id == id) { %>
                            <tr>
                                <td>
                                    <%= comment.body %>
                                </td>
                            </tr>
                            <%  }}) %>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>پاسخ شما:</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% comments.docs.forEach(comment=> { if(comment._id == id && comment.checked) { %>
                            <tr>
                                <td>
                                    <%= comment.respond %>
                                </td>
                            </tr>
                            <%  } else if(comment._id == id)  { %>
                              <tr>
                                  <td>
                                      <form class="form-group" method="post" action="/admin/members/m/<%= id %>">
                                        <input type="text" style="padding: 10px; width: 700px;" name="response" placeholder="پیغام خود را وارد کنید"/>
                                        <br/><br/>
                                        <button class="btn btn-danger">ارسال</button>
                                      </form>
                                  </td>
                              </tr>
                           <% }}) %> 
                    </tbody>
                </table>
            <%- include(viewPath('layouts/pagination'), {pagination : comments.pages, page : comments.page}) %>
        </div>    
    </div>
    
            
        </main>

 

        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column el">
              <li class="nav-item">
                <a class="nav-link" href="/admin">
                  <span data-feather="home"></span>
                  داشبورد
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/admin/members">
                  <span data-feather="file"></span>
                  اعضا
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/list">
                  <span data-feather="users"></span>
                  شکایات بررسی نشده
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/list/checked">
                  <span data-feather="users"></span>
                  شکایات بررسی شده
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/reports">
                  <span data-feather="bar-chart-2"></span>
                  گزارشات
                </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/importUsers">
                        <span data-feather="users"></span>
                        وارد کردن لیست دانشجو
                    </a>
                </li>
            </ul>
          </div>
        </nav>

    </div>
  </div>



  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/holder.min.js"></script>

  <!-- Icons -->
  <script src="/js/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
</body>
</html> 